<!DOCTYPE html>
<html>
  <head>
    <style>
      #C {
        background-color: #222;
      }
      #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    </style>

  </head>

  <body>
    <div id="main">
      <canvas id="C"></canvas>
      <div id="server-time"></div>
    </div>

    <script>
      let HOST = location.origin.replace(/^http/, "ws");
      let ws = new WebSocket(HOST);
      let el;
      let serverTime = new Date();
      let sendTime = new Date();
      let sendReceiveDelta = 0;
      let dots = [];

      ws.onmessage = function (event) {
        let data = JSON.parse(event.data);
        let localTime = new Date()          
        if(data.time) {
          let el = document.getElementById("server-time")
          el.innerText = data.time;
          serverTime = new Date(data.time)
          console.log(`local/server dt ${localTime - serverTime} ms`);
        }
        if(data.dots){
          sendReceiveDelta = localTime - sendTime;
          console.log(`send/receive dt ${sendReceiveDelta}ms`);
          dots = dots.concat(data.dots);
        }
        render();
      };

      /**@type HTMLCanvasElement*/
      let C = document.getElementById('C');
      C.width = window.innerWidth * 0.9;
      C.height = window.innerHeight * 0.9;
      let r = (C.width + C.height)/200;
      
      /**@param {MouseEvent} e*/
      C.onclick = (e) => {
        let dot = [e.offsetX/C.width, e.offsetY/C.height];
        ws.send(JSON.stringify({dots:[dot]}));
        sendTime = new Date();
      }

      function render(){
        let cc = C.getContext("2d");
        cc.fillStyle = "#ffe";
        cc.font = "14pt Courier"
        cc.clearRect(0,0,C.width,C.height);
        for(let d of dots){
          cc.beginPath()
          cc.arc(d[0]*C.width, d[1]*C.height, r, 0, Math.PI*2);
          cc.fill()
        }

        cc.fillText(`reaction time: ${sendReceiveDelta} ms`, 45, 25)

        cc.beginPath()
        cc.arc(r, r, r, 0, Math.PI*2);
        cc.fill()
        cc.fillStyle = "#222";
        let a = Math.PI * 2 * (serverTime.getSeconds() / 10);
        cc.beginPath()
        cc.arc(r, r, r, a, a+Math.PI)
        cc.fill()
        
      }      

    </script>    
  </body>
</html>
